.auth-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button {
    margin: 5px;
}

#batchActionContainer {
    margin-top: 10px;
}

.username-table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
}

.username-table th, .username-table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

.suggest-container {
    margin-top: 15px;
}

.dragging {
    opacity: 0.5;
}
